* {
	font-family: "Helvetica Neue Bold", Roboto, Helvetica, Arial, sans-serif;
	font-weight: 700;
}

h1 {
	font-family: "Helvetica Neue Light", Roboto, Helvetica, Arial, sans-serif;
	font-size: 40px;
	color: rgb(43, 43, 43);
	line-height: 40px;
	font-weight: 300;
}
.container{
	padding-top: 10px;
	background-color: rgb(255, 255, 255);
}
body{
	background-color: rgb(184, 184, 184);
}

.catalog-app{
	color: aliceblue;
}
.main-btn{
	background-color: rgb(92, 92, 92);
	border: none;
}

h2 {
	font-size: 40px;
	color: rgb(43, 43, 43);
	line-height: 29px;
}

h3 {
	font-size: 28px;
	color: rgb(65, 65, 65);
	line-height: 20px;
}
p {
 	font-family: "Helvetica Neue", Roboto, Helvetica, Arial, sans-serif;
 	font-size: 20px;
 	color: rgb(83, 83, 83);
 	line-height: 24px;
 	font-weight: 400;
 }

 strong {
 	font-size: 16px;
 	color: #7B7573;
 	line-height: 24px;
 }

.padding-top {
	padding-top: 30px;
}
.padding-bottom {
	padding-bottom: 30px;
}
.margin-right {
	margin-right: 30px;
}

.padding-none {
	padding: 0;
}
.btn {
	padding: 15px;
	margin: 0;
	border-color: rgb(151, 151, 151);
	border-width: 2px;
	color: rgb(151, 151, 151);
}
.btn:hover {
	border-color: rgb(151, 151, 151);
}
.btn.delete {
	border-color: #aaaaaa;
	color: #aaaaaa;
}
.btn.delete:hover {
	border-color: #aaaaaa;
	color: red;
}
.glyphicon {
	margin-right: 10px;
}
.top-menu{
	background: rgb(92, 92, 92);
}
.log-btn{
	margin-top: 25px;
}

.catalog-items {
 	padding: 20px;
}
.catalog-items:hover {
	background-color: rgb(184, 184, 184);
	padding: 20px;
}

.item-details {
	padding: 20px;
	margin: 20px;
}
.flash {
	background-color: rgb(184, 184, 184);
	width:100%;
	text-decoration: none;
}
.flash li {
	list-style-type: none;
	text-align: center;
}