<html>
    <head>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script src="//apis.google.com/js/platform.js?onload=start"> </script>
        <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='styles.css') }}">
    </head>

    <body>
        <div id="signinButton" class='center-log'>
            <span class="g-signin"
                data-scope="openid email"
                data-clientid="626508563994-jngnipika9o7lkr6p1qrs0ikgg87gcfr.apps.googleusercontent.com"
                data-redirecturi="postmessage"
                data-accesstype="offline"
                data-cookiepolicy="single_host_origin"
                data-callback="signInCallback"
                data-approvalprompt="force">
            </span>
        </div>

        <div id="result"></div>

        <script>
            function signInCallback(authResult) {
                if (authResult['code']) {
                    $('#signinButton').attr('style', 'display: none');
                    $.ajax({
                        type: 'POST',
                        url: '/gconnect?state={{STATE}}',
                        processData: false,
                        data: authResult['code'],
                        contentType: 'application/octet-stream; charset=utf-8',
                        success: function(result) {
                            if (result) {
                                $('#result').html('You Login Successfully </br>'+ result + '</br>Redirecting to The Main Page...');
                                setTimeout(function() {
                                    window.location.href = "/catalog";
                                }, 3000);
                            }else if (authResult['error']) {
                                console.log('There was an error: ' + authResult['error']);
                            } else {
                                $('#result').html('Failed to make a server-side call. Check your configuration and console.');
                            }
                        }
                    }); 
                } 
            }
        </script>

        <script>
            window.fbAsyncInit = function() {
                FB.init({
                    appId      : '546010905898861',
                    cookie     : true,
                    xfbml      : true,
                    version    : 'v3.2'
                });
            };

            // Load the SDK asynchronously
            (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));

            function sendTokenToServer() {
                var access_token = FB.getAuthResponse()['accessToken'];
                console.log(access_token)
                console.log('Welcome!  Fetching your information.... ');
                FB.api('/me', function(response) {
                    console.log('Successful login for: ' + response.name);
                    $.ajax({
                        type: 'POST',
                        url: '/fbconnect?state={{STATE}}',
                        processData: false,
                        data: access_token,
                        contentType: 'application/octet-stream; charset=utf-8',
                        success: function(result) {
                            if (result) {
                                $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
                                setTimeout(function() {
                                    window.location.href = "/catalog";
                                }, 4000);
                            } else {
                                $('#result').html('Failed to make a server-side call. Check your configuration and console.');
                            }
                        }
                    });
                });
            }
        </script>
        <div class='center-log'>
            <button>
                <fb:login-button scope="public_profile,email" onlogin="sendTokenToServer();">
                    <a href='javascript:sendTokenToServer()'>Login Using your Facebook Account</a>
                </fb:login-button>
            </button> 
        </div>
        
    <!--END FACEBOOK SIGN IN -->

    </body>

</html>
