<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
		<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='styles.css') }}">
	</head>
	<body>
		<div class="row top-menu text-center">
			<div class="col-md-5">
				<a href="{{url_for('showMain')}}">
					<button class="main-btn btn">
						<span>
							<h1 class="catalog-app">Catalog App</h1>
						</span>
					</button>
				</a>
			</div>
			<div class="col-md-5 text-right log-btn">
				{%if 'username' not in session %}
					<a href="{{url_for('showLogin')}}">
						<button class="btn btn-default">
							<span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>Login
						</button>
					</a>
				{% else %}
					<a href="{{url_for('disconnect')}}">
						<button class="btn btn-default">
							<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>Logout
						</button>
					</a>
				{% endif %}
						
			</div>
		</div>
		<div class="padding-top"></div>
		<div class="container padding-bottom">
			{% block content %}
			{% endblock %}
		</div>
	</body>
</html>