{% extends "main.html" %}
{% block content %}
	<div class="row">
		<div class="col-md-11">
			<h1>{{ catalog.name }} Catalog</h1>
		</div>
	</div>
	
	{% if items !=[] %}	
		<div class="row">
			<div class="col-md-10">
				{% for i in items %}
                    <a href = "{{url_for('showItem', catalog_name = catalog.name, item_name=i.name)}}">
                        <div class="row">
                            <div class="col-md-1"></div>
                                <div class="col-md-10 catalog-items">
                                    <h3>{{i.name}}</h3>
                                </div>
                            <div class="col-md-1"></div>
                        </div>
                    </a>
				{% endfor %}
			</div>
		</div>
	{% endif %}
{% endblock %}