{% extends "main.html" %}
{% block content %}

    <div class = 'flash'>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </div>
	
	{% for i in catalogs %}
		<a href = "{{url_for('showCatalog', catalog_name = i.name) }}">
			<div class="row">
				<div class="col-md-1"></div>
					<div class="col-md-10 catalog-items">
						<h3>{{i.name}}</h3>
					</div>
				<div class="col-md-1"></div>
			</div>
		</a>
	{% endfor %}
{% endblock %}