{% extends "main.html" %}
{% block content %}
	<div class="row">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>{{ catalog.name }}</h1>
		</div>
	</div>

    <div class = 'flash'>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

    </div>
	<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
			
			<a href="{{url_for('newItem', catalog_name = catalog.name )}}">
				<button class="btn btn-default">
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add New Item
				</button>
            </a>
            <a href="{{url_for('editCatalog', catalog_name = catalog.name )}}">
					<button class="btn btn-default">
						<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Edit Catalog
					</button>
			</a>
			<a href="{{url_for('deleteCatalog', catalog_name = catalog.name )}}">
				<button class="btn btn-default delete">
					<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>Delete Catalog
				</button>
			</a>
		</div>
		<div class="col-md-7"></div>
	</div>
	
	{% if items !=[] %}	
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-9">
				{% for i in items %}
                    <a href = "{{url_for('showItem', catalog_name = catalog.name, item_name=i.name)}}">
                        <div class="row">
                            <div class="col-md-1"></div>
                                <div class="col-md-10 catalog-items">
                                    <h3>{{i.name}}</h3>
                                </div>
                            <div class="col-md-1"></div>
                        </div>
                    </a>
				{% endfor %}
			</div>
			<div class="col-md-1"></div>
		</div>
	{% endif %}
{% endblock %}